@charset "UTF-8";

/* Background Image */
.background-img {
	background-image: url("Images/Black Vignette.png"),
		url("Images/background.jpg");
	background-repeat: no-repeat;
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 1;
	height: 100%;
	width: 100%;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	transform: scale(1.1);
}

/* Logo */
.logo {
	background-position: center center;
	background-image: url("Images/logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	left: 37%;
	top: 15%;
	position: fixed;
	height: 500px;
	width: 500px;
	z-index: 3;
}

/* Topbar */
.topbar {
	margin-top: -1%;
	background-color: #000;
	position: absolute;
	height: 50px;
	width: 100%;
	z-index: 3;
	text-align: left;
	vertical-align: middle;
	padding-bottom: 3.5%;
	padding-left: 3%;
}

/* WeatherMeister */
h1 {
	font-family: Sav;
	font-size: 70px;
	z-index: 1;
}

h2 {
	font-family: Ital;
	font-size: 70px;
	text-decoration: none;
	color: #fff;
	text-align: center;
}

/* FONTS */

/* WeatherMeister */
@font-face {
	font-family: Sav;
	src: url("Fonts/17357674296594851838.woff");
}

/* Display All */
@font-face {
	font-family: Reg;
	src: url("Fonts/Avenir Next/AvenirNext-Regular.ttf");
}

/* Radio Buttons */
@font-face {
	font-family: UL;
	src: url("Fonts/Avenir Next/AvenirNext-UltraLight.ttf");
}

/* Search Bar */
@font-face {
	font-family: Ital;
	src: url("Fonts/Avenir Next/AvenirNext-UltraLightItalic.ttf");
}

/* Search Bar, Radio Buttons, Display All */
.nav {
	background-color: transparent;
	position: fixed;
	z-index: 5;
	width: 600px;
	height: 300px;
	left: 25%;
	top: 60%;
}

/* Search Bar, Radio Buttons */
.nav .search-container {
	float: right;
}

/* Google Maps Embedded */
#map {
	height: 80%;
	width: 70%;
	margin: auto;
	horizontal-align: center;
	vertical-align: center;
	
}

/* Google Maps Embedded Container */
#containThatMap {
	height: 100%;
	width: 100%;
	z-index: 2;
	position: absolute;
	top: 0px;
	left: 0px;
}

/* Magnifying Glass Button */
.nav .search-container #submitButton {
	background-image: url("Images/magnifying_glass.jpeg");
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, .25);
	position: fixed;
	width: 4%;
	height: 6.4%;
	float: right;
	left: 58.65%;
	top: 53%;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	border-left: none;
	cursor: pointer;
}

/* Google Maps Icon */
.nav .search-container #mapsIcon {
	background-image: url("Images/MapIcon.png");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.25);
	position: fixed;
	width: 4%;
	height: 6.4%;
	float: right;
	left: 64%;
	top: 53%;
	cursor: pointer;
	border-radius: 10px;
	border: none;
}

/* City Search Bar */
.nav input[type=text] {
	position: fixed;
	background: rgba(255, 255, 255, .25);
	padding: 0.75%;
	height: 3.6%;
	left: 37%;
	top: 53%;
	width: 20.15%;
	font-size: 25px;
	font-family: Ital;
	color: white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	border-right: none;
}

/* Location Search Bar */
#LatitudeSearch {
	background: rgba(255, 255, 255, .25);
	position: fixed;
	left: 37%;
	top: 53%;
	height: 3.6%;
	padding: 0.75%;
	width: 10%;
	font-size: 25px;
	font-family: Ital;
	color: white;
	border: 1px solid white;
}
#LongitudeSearch {
	background: rgba(255, 255, 255, .25);
	position: fixed;
	left: 50.2%;
	top: 53%;
	width: 6.95%;
	height: 3.6%;
	font-size: 25px;
	font-family: Ital;
	color: white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	border-right: none;
	padding: 0.75%;
}

/* Display All */
.displayAll {
	border: 0.5px solid white;
	background: rgba(255, 255, 255, .25);
	position: fixed;
	z-index: 6;
	font-size: 20px;
	cursor: pointer;
	font-family: Reg;
	width: 7.5%;
	height: 4%;
	left: 46%;
	top: 66%;
	border-color: #e7e7e7;
	border-radius: 5px;
	color: #fff;
}

/* All Cities Table */
#infoTable {
	display: block;
	font-family: UL;
	position: absolute;
	top: 30%;
	left: 35%;
	width: 30%;
	height: 50%;
	font-size: 50px;
	background-color: white;
	z-index: 5;
	border-radius: 15px;
	border: 1px solid white;
	background: rgba(255,255,255,0.25);
	text-align: center;
	color: white;	
	overflow: auto;
	font-weight: normal;
}

#infoTable tbody{
	margin: 0px;
	padding: 0px;
}

#infoTable tr td{
	height: 72px;
	width: 700px;;
	border-bottom: 1px solid white;
	font-family: UL;
}

#userText {
	position: absolute;
	top: 12%;
	width: 100%;
	z-index: 4;
}

.topbarlogin {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 0px;
	z-index: 1;
}

h3 {
	font-family: Ital;
	font-size: 35px;
	text-decoration: none;
	color: #fff;
}

h3 a {
	text-decoration: none;
	color: white;
}

#login-profile {
	position: absolute;
	top: 38px;
	left: 1625px;
	z-index: 5;
}

#logout-register {
	position: absolute;
	top: 38px;
	left: 1750px;
	z-index: 5;
}
