.weatherlogo {
	width: auto;
	height: 40vh;
	z-index: 1;
}

.titlebar {
	position: absolute;
	top: 0px;
	width: 100vw;
	height: 5vh;
	background-color: #000000;
	z-index: 1;
}

input[type=text] {
	background-color: rgba(128, 128, 128, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.7);
	height: 5vh;
	color: rgba(255, 255, 255, 0.7);
	font-family: Avenir Next;
	font-size: 2.75vh;
	font-style: italic;
	font-weight: lighter;
	margin-left: 1vw;
}

.displayall font {
	font-family: Avenir Next;
	font-size: 2.75vh;
	color: white;
	
}

.homepage {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 5vh;
	height: 95vh;
	width: 100vw;
}

.displayall {
	width: 12vw;
	height: 4.5vh;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.2);
}

.citysearch {
	width: 30vw;
	padding-left: 1vw;
}

.bgimage {
	filter: blur(4px);
	height: 100vh;
	width: auto;
	transform: scale(1.01);	
	background-image: url("Images/background.jpg");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: 100vw 100vh;
}

.searchicon {
	height: 4vh;
	width: auto;
	z-index: 1;
}

.searchiconspacing {
	position: absolute;
	display: inline-flex;
	justify-content: flex-end;
	width: 30vw;
	padding-right: 0.25vw;
	align-items: center;
}

.latsearch {
	width: 14vw;
	padding-left: 1vw;
}

.latlongtextspacing {
	width: 2vw;
}

.longsearch {
	width: 14vw;
	padding-left: 1vw;
}

.searchtypebutton {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 30vw;
	padding-bottom: 2vh;
}

.searchtypetext {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 30vw;
	padding-bottom: 1vh;
}

.citysearchtype {
}

.latlongsearchtype {
	position: absolute;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 30vw;
}

body {
	overflow: hidden;
	scroll: no;
	z-index: 1;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	z-index: 0;
	background-color: #000000;
}

.weathermeistertext {
	height: inherit;
	color: white;
	font-family: Savoye LET;
	font-style: lighter;
	padding-left: 2vw;
	font-size: 4vh;
    transform: translate(0%, 1vh); 	
    text-shadow: 0px 4px 8px white;
}

#templocation {
	display: flex;
	left: 0vw;
	top: 5vh;
	align-content: center;
	height: 95vh;
	width: 100vw;
}


#icongroup {
	position: absolute;
	top: 20vh;
	left: 15vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	width: 60vw;
	height: 75vh;
}

.icon {
	flex-basis: 15%;
	height: 20vh;
	width: auto;	
}

.iconinfo {
	height: 20vh;
	width: 20vw;
}

#earth {
	padding-bottom: 5vh;
	padding-right: 2vw;
}

#snowflake {
	padding-bottom: 5vh;
	padding-right: 2vw;
}

#sun {
	padding-bottom: 5vh;
	padding-right: 2vw;
	
}

#wind {
	padding-bottom: 5vh;
	
}

#drop {
	padding-right: 2vw;
}

#location {
	padding-right: 2vw;
}

#thermometer {
	padding-right: 2vw;
}

#sunrise {
	
}

.fileerror {
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;	
}

#fileerrortext {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 25vh;
	width: 40vw;
}

#fileerrortextfont {
	font-family: Avenir Next;
	font-size: 10vh;
	color: rgba(255, 0, 0, 0.7);
}




